*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/266/1013/desktop-wallpaper-simple-gray-backgrounds-high-definition-dark-grey-background.jpg");
    background-size: cover;
}
